<nav class="w-full bg-[#0f2c63] text-white px-6 py-4 flex justify-center space-x-14 text-xl font-medium">
    <a routerLink="/sobre" class="rounded-full px-6 py-2 hover:bg-white/10 transition"
       [routerLinkActive]="'border-2 border-white '"
       >
       Sobre
    </a>

    <a routerLink="/agente-llm" class="rounded-full px-6 py-2 hover:bg-white/10 transition"
       [routerLinkActive]="'border-2 border-white '"
       >
       Agente LLM
    </a>

    <a routerLink="/metodos" 
    class="rounded-full px-6 py-2 hover:bg-white/10 transition"
       [routerLinkActive]="'border-2 border-white'"
       >
       Métodos
    </a>
</nav>
